*.class
*.log
target/
.idea/
.git/
**/target
**/.idea
**/target
**/ideatarget
**/.target
**/bin
**/.cache
**/.cache-main
**/.cache-tests
**/.classpath
**/.project
**/.tmpBin
**/.factorypath
**/.settings
**/logs